<div class="background">
    <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="postData()">
            <div fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/download.png">
                <h1>LOGINPAGE</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com"
                        required
                        autocomplete="off"
                        formControlName='email'>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('email')">
                        Enter valid email
                    </mat-error>
                </mat-form-field>     
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"
                        formControlName='password'
                        required
                        autocomplete="off">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
                <div fxLayout='row' fxLayoutAlign='space-around center'>
                    <mat-checkbox>Remember me!</mat-checkbox>
                    <a routerLink="forgot">Forgotten Password?</a>
                </div>
                <button [disabled]="!loginForm.valid"  class="btn btn-success" routerLink="dashboard">login</button> 
                <span>OR</span>
                <button  mat-raised-button color="primary" routerLink="signup">create an account</button>
            </div>      
        </form>
    </mat-card>
</div>
