mat-card{
    height: auto;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
img{
    height: 70px;
    width: 90px;
}
h1{
    font-weight: bold;
}
mat-form-field{
    width: 80%;
}
button{
    width: 80%;
    outline: none;
}
.background{
    background-image: url(src/assets/background1.jpg);
    background-size:cover;
    height: 100vh;
    
}